target/
!.mvn/wrapper/maven-wrapper.jar


### Configuracoes ###
src/main/resources/bkp/application.properties
src/main/resources/bkp/application-dev.properties
src/main/resources/bkp/application-prd.properties
src/main/resources/bkp/application-tst.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
